---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Throughout my academic journey, I have consistently sought to deepen my
expertise through hands-on, self-directed projects. These range from game
automation systems to chatbot development and data analysis. Currently, I am
developing an LLM-based educational chatbot that assists and teaches users how
to safely identify mushroom species, combining my technical expertise with my
passion for mycology. Through these self-directed projects, I've expanded my
technical toolkit beyond the standard curriculum. Below are some of the projects I've worked on.

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

